$c-default:#f6f6f6;
//$bg-home: #74ecec;
//color
$Silver-Sand:#C6C6C6;
$light-silver:#DBDBD9;
$Iron:#d9d9db;
$Burning-Orange:#fb7040;
$Masala:#45413f;
$Bright-Gray:#efefef;
$Dark-Puce:#3F4345;


$AthensGray:#F0F0F1;
$Charade:#272732;


 :export {
  AthensGray: #F0F0F1;
  Charade: #272732;

}

//body.light {
//  --background-color: var(--white);
//  --text-color: var(--blue);
//  //--font-weight: 400;
//  //--image: url("../day.jpg");
//}
//body.dark {
//  --background-color: var(--blue);
//  --text-color: var(--white);
//  //--font-weight: 500;
//  //--image: url("../night.jpg");
//}
//body {
//  background: var(--background-color);
//  color: var(--text-color);
//  font-weight: var(--font-weight);
//  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
//}




//
//:root {
//  --theme-color-1: #{$theme-color-1};
//  --theme-color-2: #{$theme-color-2};
//  --theme-color-3: #{$theme-color-3};
//  --theme-color-4: #{$theme-color-4};
//  --theme-color-5: #{$theme-color-5};
//  --theme-color-6: #{$theme-color-6};
//  --theme-color-1-10: #{rgba($theme-color-1, 0.1)};
//  --theme-color-2-10: #{rgba($theme-color-2, 0.1)};
//  --theme-color-3-10: #{rgba($theme-color-3, 0.1)};
//  --theme-color-4-10: #{rgba($theme-color-4, 0.1)};
//  --theme-color-5-10: #{rgba($theme-color-5, 0.1)};
//  --theme-color-6-10: #{rgba($theme-color-6, 0.1)};
//
//  --primary-color: #{$primary-color};
//  --foreground-color: #{$foreground-color};
//  --separator-color: #{$separator-color};
//}