@import 'functions';
@import "_variables";
//hr {
//
//  display: block;
//  margin-top: 0.5em;
//  margin-bottom: 0.5em;
//  margin-left: auto;
//  margin-right: auto;
//  border-style: inset;
//  border-width: 1px;
//}

.color-AthensGray {
  color: $AthensGray
}
.c-Charade {
  color: $Charade
}
.c-silver-sand{
   color: $Silver-Sand;
}
.c-Masala{
   color: $Masala;
}
.c-Bright-Gray{
   color: $Bright-Gray ;
}
.c-Dark-Puce{
   color: $Dark-Puce ;
}
.c-Mountain-Mist{
   color: $Mountain-Mist ;
}
.c-White-Smoke{
   color: $White-Smoke ;
}
.c-Gray-sand{
   color: $Gray-sand ;
}
.c-Anti-Flash-White{
   color: $Anti-Flash-White ;
}
.c-Quartz{
   color: $Quartz ;
}


.boxShadow04{
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04)!important;
}





// *** *** border

.border1-Bright-Gray{
  border: 1px solid $Bright-Gray;
}

.border2-Charade{
  border: 2px solid $Charade;
}

.border1-Silver-Sand{
 border: 1px solid $Silver-Sand;
}

// *** *** border right
.border-r5-Burning-Orange{
  border-right: solid 5px $Burning-Orange;
}
.border-r5-Charade{
  border-right: 5px solid $Charade;
}

.border-b1-Anti-Flash-White{
  border-bottom: 1px solid $Anti-Flash-White;;
}




.bg-AthensGray{
  background-color: $AthensGray;
}
.bg-Charade{
  background-color: $Charade;
}
.bg-home{
  background-color: $c-default;
}
.bg-light-silver{
  background-color: $light-silver;
}
.bg-Iron{
  background-color: $Iron;
}
.bg-Cultured{
  background-color: $Cultured;
}
.bg-White-Smoke{
  background-color: $White-Smoke;
}
.bg-Anti-Flash-White{
  background-color: $Anti-Flash-White ;
}
.bg-Quartz{
  background-color: $Quartz ;
}


.border-AthensGray{
  border: 1px solid $AthensGray;
}
.border-Charade{
  border: 1px solid $Charade;
}

.br-50{
  border-radius: 50%;
}
.alignContent-around{
  alignContent: around;
}




.High-headline{
  h1 {
    display: flex;
    flex-direction: row;
  }
  h1:before{
    content: "";
    flex: 1 1;
    //border-bottom: 1px solid $Bright-Gray;
    border-bottom: 1px solid $Bright-Gray;
    margin: auto;
  }

  h1:before {
    margin-right: 2vw
  }

}
#sec2{


  table{
    border: 2px solid $Bright-Gray !important;
    th, td {
      border: 1px solid $Bright-Gray;
      border-collapse: collapse!important;
      text-align: center;
    }
  }

}

#sec3{

  hr.style-six {
    height: 0;
    padding: 300px 0 300px 0;
    border: solid 1px;
  }
  hr {
      background-color: $Anti-Flash-White;
  }
}

@media screen and (max-width: 600px) {
  .p-s16-m32-lg48-xl48{
    padding: 16px;
  }
  .h-s40-m50-lg60-xl-60{
    height: 40px;
  }
  .Fs-s25-m34-lg34-xl34{
    font-size: 25px;
  }
  .circle-icon-header{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .circle-icon-footer{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }


  .w-top-bar {
    width: 110px;
  }
}



@media screen and (min-width: 600px) and (max-width: 850px){
  .p-s16-m32-lg48-xl48{
    padding: 32px;
  }
  .h-s40-m50-lg60-xl-60{
    height: 50px;
  }
  .Fs-s25-m34-lg34-xl34{
    font-size: 25px;
  }
  .circle-icon-header{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .circle-icon-footer{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .w-top-bar {
    width: 110px;
  }
}

@media screen and (min-width: 850px) and (max-width: 1400px) {
  .p-s16-m32-lg48-xl48{
    padding: 48px;
  }
  .h-s40-m50-lg60-xl-60{
    height: 60px;
  }
  .Fs-s25-m34-lg34-xl34{
    font-size: 34px;
  }
  .circle-icon-header{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .circle-icon-footer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .w-top-bar {
    width: 18vw;
  }
}

@media screen and (min-width: 1400px) {
  .p-s16-m32-lg48-xl48{
    padding: 48px;
  }
  .h-s40-m50-lg60-xl-60{
    height: 60px;
  }
  .Fs-s25-m34-lg34-xl34{
    font-size: 34px;
  }
  .circle-icon-header{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .circle-icon-footer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .w-top-bar {
    width: 140px;
  }
}



