@import 'functions';
@import "_variables";
//hr {
//
//  display: block;
//  margin-top: 0.5em;
//  margin-bottom: 0.5em;
//  margin-left: auto;
//  margin-right: auto;
//  border-style: inset;
//  border-width: 1px;
//}

.color-AthensGray {
  color: $AthensGray
}
.c-Charade {
  color: $Charade
}
.c-silver-sand{
   color: $Silver-Sand;
}
.c-Masala{
   color: $Masala;
}

//{/*//Todo:change  name*/}
.boxShadow{
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04)!important;
}

.br-list{
  border-right: solid 5px ;
}

//{/*//Todo:سه تا کلاس پایینی  اسمشون یه سبکه ولی محتواشون فرق می کنه */}
.b-c-Charade{
  border-right-color: $Charade ;

}
.b-c-Silver-Sand{
  //border-color: $Silver-Sand ;
 border: 1px solid $Silver-Sand;

}
.b-c-Burning-Orange{
  border-color: $Burning-Orange ;

}


.bg-AthensGray{
  background-color: $AthensGray;
}
.bg-Charade{
  background-color: $Charade;
}
.bg-home{
  background-color: $c-default;
}
.bg-light-silver{
  background-color: $light-silver;
}
.bg-Iron{
  background-color: $Iron;
}


.border-AthensGray{
  border: 1px solid $AthensGray;
}
.border-Charade{
  border: 1px solid $Charade;
}

.br-50{
  border-radius: 50%;
}
