@import 'functions';
@import "_variables";



.color-AthensGray {
  color: $AthensGray
}
.color-Charade {
  color: $Charade
}



.bg-AthensGray{
  background-color: $AthensGray;
}
.bg-Charade{
  background-color: $Charade;
}


.border-AthensGray{
  border: 1px solid $AthensGray;
}
.border-Charade{
  border: 1px solid $Charade;
}
